# Ignore logs and temporary files
logs/
logs/*
*.log
*.gz
/logs/

# Maven and Gradle build directories
target/
build/

# IDE configurations
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/
src/main/resources/firebase-service-account.json
